.COMPONENTS-navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(246, 246, 246);
  width: 100vw;
  padding: 2vmin 3vmin;
  gap: 10vmin;
  box-sizing: border-box;
}
